<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SAI Real Estate Site</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="/css/cssfont/all.css">


    <link rel="stylesheet" type="text/css" href="file:///C:/Users/Adarsh%20Singh/Downloads/fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/css/js/index.js"></script>
    <script type="text/javascript" src="server.js"></script>
    <script type="text/javascript" src="model/client.js"></script>
    <script src="https://kit.fontawesome.com/4704e362d2.js" crossorigin="anonymous"></script>
            
</head>

<body>
    <div class="container">
        <div class="container1">
            <div class="block1"><img src="/css/logo.PNG" alt="LOGO"></div>
            <div class="block2container">
                <div class="brand">Shree Krishna Residency</div>
                <nav class="navbar">
                    <ul class="unordered" id="uno">
                       <li class="dropdownlink"><a onclick="toggleDrop()" id="anchorId" href="javascript:void(0)"><i class="fas fa-align-justify"></i></a></li>
                       <li class="list"><a class="anchor" href="/client"><i class="fas fa-home"></i>Home</a></li>
                       <li class="list">
                       <div class="dropdown">
                           <button class="drpbtn">Projects </button>
                           <div class="dropdown-content">
                              <a href="/client/kalyan">Kalyan</a>
                              <a href="/client/shahad">Shahad</a>
                              
                            </div>
                       </div>
                       </li>
                       <li class="list"><a class="anchor" href="/client/aboutus">About Us</a></li>
                       <li class="list"><a class="anchor" href="#con"><i class="fas fa-phone-alt"></i>Contact Details</a></li>
                       
                    </ul>
                </nav>          
        
            </div>
        </div>
        
        
        <div class="container2">
            <div class="location">ABOUT US</div>
            
            <div class="community">
                <h2 class="cbc">Creating Better Communities</h2>
                <div class="bettercommunity">
                    Shree Krishna Residency Group has been one of the most premium real estate developer in India with more than 10 years of experience in this business.<br><br>

                    Since its inception in 2009, trust of the people in Shree Krishna Residency Group has been the foundation for our success and their unwavering faith motivates us to serve even more. Thousands of families who have created a future with us, will testify for the value that we have added in their lives.<br><br>

                    We acknowledge the possibilities that the technology offers, that’s why we incorporate technological innovations in our real estate projects and give peopleexcellence and precision in everything. Ultimately, providing an amazing experience to the people is our endeavor.
                </div>

            </div>
            
            <div class="mission">
                <h2 class="vision">MISSION AND VISION</h2>
                <div class="misvis">
                    Creating superior value for Customers, Business Associates, Society and Stake Holders on a continuous basis.<br>
                    That’s the vision that the Shree Krishna Residency Group was born with. To create integrated townships and lifestyle patterns that provides more than just spaces to live and operate out of. Keeping this vision very close to our heart, we have become the physical face of a new generation. We have become the collective psyche of a vibrant India’s energy, drive and vitality. We have become the language of new passion, of affluence, of happiness that begins with an individual, and culminates into the wellbeing of an entire society.<br><br>

                    With this vision minutely embedded in everything we do, we at Shree Krishna Residency take the honour to raise a complete world that brings fulfillment to life. We will continue to be a brand that people trust, the brand of commitment, care and faith.
                </div>
            </div>
            
        </div>
        
        <div class="contact_container" id="con">
            
                          
            <div class="address_container">
                <div class="address_div">
                    <h1 class="office">Booking Office :</h1>
                    <div class="address">Shop No. 1, SAI DHAM APT.,<br> Near Namaskar Dhaba, Shree Malanggad Road,<br> Adivali - Dhokali, Kalyan (E.),<br> Tal. Ambernath, Dist. Thane.<br> Phone No: 9323521993, 8693037047
                    </div>
                </div>
            </div>
            
        </div>
    </div>


</body></html>