<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SAI Real Estate Site</title>
    <link rel="stylesheet" href="/css/kalyan.css">
    <link rel="stylesheet" href="/css/cssfont/all.css">

    <link rel="stylesheet" type="text/css" href="file:///C:/Users/Adarsh%20Singh/Downloads/fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/css/js/index.js"></script>

    <script src="https://kit.fontawesome.com/4704e362d2.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="container1">
            <div class="block1"><img src="/css/logo.PNG" alt="LOGO"></div>
            <div class="block2container">
                <div class="brand">Shree Krishna Residency</div>
                <nav class="navbar">
                    <ul class="unordered" id="uno">
                       <li class="dropdownlink"><a onclick="toggleDrop()" id="anchorId" href="javascript:void(0)"><i class="fas fa-align-justify"></i></a></li>
                       <li class="list"><a class="anchor" href="/client"><i class="fas fa-home"></i>Home</a></li>
                       <li class="list">
                       <div class="dropdown">
                           <button class="drpbtn">Projects </button>
                           <div class="dropdown-content">
                              <a href="/client/kalyan">Kalyan</a>
                              <a href="/client/shahad">Shahad</a>
                              
                            </div>
                       </div>
                       </li>
                       <li class="list"><a class="anchor" href="/client/aboutus">About Us</a></li>
                       <li class="list"><a class="anchor" href="#con"><i class="fas fa-phone-alt"></i>Contact Details</a></li>
                       
                    </ul>
                </nav>          
        
            </div>
        </div>
        
         <div class="container2">
            <div class="location">Building 2</div>
            <div class="container4">
                <div class="k1">
                    <a href="/client/kalyan/building1"><img src="/css/building2/GRND.jpg" alt="Building 1" class="images"></a>
                    <div class="Kyn">Ground Floor</div>
                </div>
                <div class="k2">
                    <a href="/client/kalyan/building2"><img src="/css/building2/General.jpg" alt="Building 2" class="images"></a>
                    <div class="Kyn">Typical Floor</div>
                </div>
                <div class="k3">
                    <a href="/client/kalyan/building3"><img src="/css/building2/LM2.jpg" alt="Building 3" class="images"></a>
                    <div class="Kyn">Location Map</div>
                </div>
            </div>
                
            
        </div>
        
        <div class="kalyan_contact_container" id="con">
            <div class="kalyan_address_div">
                    <h1 class="office">Booking Office :</h1>
                    <div class="address">Shop No. 1, SAI DHAM APT.,<br> Near Namaskar Dhaba, Shree Malanggad Road,<br> Adivali - Dhokali, Kalyan (E.),<br> Tal. Ambernath, Dist. Thane.<br> Phone No: 9323521993, 8693037047
                    </div>
            </div>    
        </div>
        
    </div>


</body></html>